.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1e3a5f; 
    padding: 12px 0px;
    align-items: center;
    border-radius: 2px;
}

.header-left {
    position: relative;
    color: #fff;
    left:12px;
    font-size: 24px;

}

.header-right {
    position: relative;
    color: #fff;
    right: 12px;
    font-size: 18px;
}