.main {
    margin-top: 56px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px 0px 12px 0px ;
    
}

.hero-title {
    margin:24px;
    user-select: none;
    font-size: 36px;
}

.hero-button {
    font-size: large;
    background-color: #1e3a5f;
    color: #fff;
    border: 2px solid #1e3a5f;
    border-radius: 1px;
    padding: 8px;
    cursor: pointer;
    transition: 0.15s;
}

.hero-button:hover {
    background-color: #fff;
    color: #1e3a5f;
    font-weight: 700;
    padding: 12px;
}

.add-new-task {
    display: flex;
    justify-content: center;   
    background-color: #fff;
    padding: 24px 0px;
    border-radius: 1px;
    box-shadow: 0px 2px 12px rgba(30,58,95,0.5);
}


#task {
    margin-bottom: 12px;
    width: 100%;
    padding: 8px;
}

.due-date {
    cursor: default;
    font-size: 18px;

}

#day, #month, #year {
    font-size: 16px;
}

.task-action {
    margin-left: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.add-button {
    display: block;
    background-color: #2563eb;
    border: 2px solid #2563eb;
    border-radius: 1px;
    color: #fff;
    padding: 8px 12px;
    cursor: pointer;
    margin-bottom: 2px;
}

.update-button {
     display: block;
    background-color: #49a50c;
    border: 2px solid #49a50c;
    border-radius: 1px;
    color: #fff;
    padding: 8px 12px;
    cursor: pointer;
    margin-bottom: 2px;
}

.cancel-button {
    display: block;
    background-color: #dc2626;
    border: 2px solid #dc2626;
    border-radius: 1px;
    color: #fff;
    padding: 8px 11px;
    margin-top: 2px;
    cursor: pointer;
}

.filter-tasks {
    margin: 24px 0px;
    display: flex;
    justify-content: space-around;   
    padding-bottom: 2px;
    
    border-radius: 1px;
    box-shadow: 0px 2px 12px rgba(30,58,95,0.5);
}

.filter-all, .filter-completed, .filter-active {
    border: none;
    background-color: #f2f4f8;
    cursor: pointer;
    padding: 12px 12px 10px 12px;
    transition: 0.15s;
    color: #667766;
    font-size: 16px;

    
}

.filter-all:hover, .filter-completed:hover, .filter-active:hover {
    box-shadow:0px 2px 0px #2563eb ;
    color: #000;
}

.filter-buttons-toggle-hover  {
    box-shadow:0px 2px 0px #2563eb ;
    color: #000;
}

.tasks-section {
    
    background-color: #fff;
    padding: 12px 0px;
    border-radius: 1px;
    box-shadow: 0px 2px 12px rgba(30,58,95,0.5);
}

#tasks-list {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    list-style: none;  
    padding-left: 0px;
}

.single-task-item {
    display: flex;
    box-shadow: 2px 0px 2px rgba(30,58,95,0.5);
    border-radius: 1px;
    margin: 1px 8px 1px 8px;
    
}



.task-left {
    display: flex;
    justify-content: left;
    align-items: center;
    flex:1;    
}


.task-right {
    display: flex;
    position: relative;
    right:12px;
    column-gap: 8px;
    justify-content: right;
    align-items: center;
    flex:2;
}

.due-date-container {
    color:#667766;
    user-select: none;
}

.edit-button-container, .delete-button-container {
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    
}
.edit-button, .delete-button {
    border: none;
    background-color: #fff;
    cursor: pointer;

}
   

.edit-icon, .delete-icon {
    object-fit: contain;
     width: 100%;
    height: 100%;    

}

.task-completed {
    text-decoration: line-through;
    color: #37aa06;
    font-style: italic;

}

.is-hidden{
    display: none;

}