.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px 0px 12px 0px ;
    
}

.hero-title {
    margin:0px;
}

.hero-button {
    font-size: large;
    background-color: #1e3a5f;
    color: #fff;
    border: 2px solid #1e3a5f;
    border-radius: 1px;
    padding: 8px;
    cursor: pointer;
    transition: 0.15s;
}

.hero-button:hover {
    background-color: #fff;
    color: #1e3a5f;
    font-weight: 700;
    padding: 12px;
}

.add-new-task {
    display: flex;
    justify-content: center;   
    background-color: #fff;
    padding: 12px 0px;
    border-radius: 1px;
    box-shadow: 0px 2px 12px rgba(30,58,95,0.5);
}

#task {
    margin-bottom: 12px;
    width: 100%;
}


.task-action {
    margin-left: 36px;
}

.add-button {
    display: block;
    background-color: #2563eb;
    border: 2px solid #2563eb;
    border-radius: 1px;
    color: #fff;
    margin-bottom: 12px;
    padding: 2px 8px;
    cursor: pointer;
}

.cancel-button {
    display: block;
    background-color: #dc2626;
    border: 2px solid #dc2626;
    border-radius: 1px;
    color: #fff;
    padding: 2px 5px;
    cursor: pointer;
}

.filter-tasks {
    margin: 24px 0px;
    display: flex;
    justify-content: space-around;   
    
    padding: 12px 0px;
    border-radius: 1px;
    box-shadow: 0px 2px 12px rgba(30,58,95,0.5);
}

.filter-all, .filter-completed, .filter-active {
    border: none;
    background-color: #f2f4f8;
    cursor: pointer;
    padding: 0px 12px;
    transition: 0.15s;
    color: #667766;
    font-size: 16px;

    
}

.filter-all:hover, .filter-completed:hover, .filter-active:hover {
    box-shadow: 0px 2px 0px #2563eb ;
    color: #000;
}

