.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.hero-button {
    font-size: large;
    background-color: #1e3a5f;
    color: #fff;
    border: 2px solid #1e3a5f;
    border-radius: 1px;
    padding: 8px;
    cursor: pointer;
    transition: 0.15s;
}

.hero-button:hover {
    background-color: #fff;
    color: #1e3a5f;
    font-weight: 700;
    padding: 12px;
}

